project_id                  = "prj-mrdn-retail-dev"
region                      = "us-central1"
zone                        = "us-central1-a"
terraform_service_account   = "sa-tf-bootstrap-apply@prj-seed-74ba49.iam.gserviceaccount.com"

network_host_project_id     = "prj-mrdn-network-prod"
network_name                = "vpc-mrdn-shared"
subnet_name                 = "sb-retail-nonprod"
pods_secondary_range_name   = "gke-pods"
services_secondary_range_name = "gke-services"

cluster_name   = "gke-retail-dev"
node_pool_name = "default-pool"
machine_type   = "e2-medium"
node_count     = 1
min_node_count = 1
max_node_count = 2
enable_autoscaling = true
